/* Add CSS rules to override Primer */

body {
    background-color: #f5faff;
}

.hero-border {
    border-bottom: .25rem solid #b7d9f8;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-canvas-default);
    }
    .hero-border {
        border-bottom: .25rem solid #0d3868;
    }
    img {
        mix-blend-mode: color-dodge;
    }
}

